body {
    background-color: aliceblue;
}
H1 {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    size: 30cm;
    color: orange
}
H2 {
    color: green
}
H3 {
    color: red
}
a {
    color: orange;
}
a:hover {
    color:green
}
